html {
    font-size: 16px;
    min-height: 100%;
    min-width: 360px;
    padding-bottom: 50px;
    width: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}

a:link,
a:active,
a:visited,
a:hover {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    margin: .5em 0;
}

h2 {
    font-size: 1.25em;
}

header {
    position: relative;
}

header p {
    margin: 0 auto;
    max-width: 80%;
}

img {
    border: 3px solid #777;
    max-width: 150px;
    padding: 5px;
}

nav {
    margin-top: 1em;
    white-space: nowrap;
}

nav li {
    display: inline;
    width: auto;
}

nav li:after {
    content: " / ";
}

nav li:last-child:after {
    content: "";
}

#container_header img {
    border: none;
    max-width: 90%;
    min-width: 300px;
}

#container_footer {
    background: url('../images/footer.png') repeat-x bottom left;
    bottom: 0;
    padding-top: 15px;
    position: fixed;
    width: 100%;
}

.child h1 {
    font-size: 1em;
    margin: .75em 0 .25em;
}

.child img {
    max-height: 100px;
}

.full-image {
    border: none;
    max-width: 90%;
    padding: 1em;
}