html
{
    font-size: 16px;
    min-height: 100%;
    padding-bottom: 50px;
    width: 100%;
}

body
{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}

a:link,
a:active,
a:visited,
a:hover
{
    color: #000;
    text-decoration: none;
}

h1
{
    font-size: 2em;
    margin: .5em 0;
}

h2
{
    font-size: 1.5em;
}

header
{
    position: relative;
}

header p
{
    margin: 0 auto;
    width: 50%;
}

img
{
    border: 3px solid #777;
    padding: 5px;
}

header img
{
    border: none;
    padding: 0;
}

li
{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

nav
{
    line-height: 1.5em;
    position: absolute;
}

nav li
{
    width: auto;
}

nav li:after
{
    content: " / ";
}

nav li:last-child:after
{
    content: "";
}

#container
{
    margin: 0 10%;
    width: 80%;
}

#container_header
{
    padding: 1em;
}

#container_footer
{
    background: url('../images/footer.png') repeat-x bottom left;
    bottom: 0;
    padding-top: 15px;
    position: fixed;
    width: 80%;
}

.child h1
{
    font-size: 1em;
    margin: .75em 0 .25em;
}

.child img
{
    max-height: 100px;
}

.child li
{
    width: 100%;
}

.full-image
{
    border: none;
    padding: 1em;
}