<header>
    <h2 ng-if="album.parent != null">
        <a ng-href="#/album/{{ album.parent }}"><i class="fa fa-level-up fa-flip-horizontal"></i> {{ album.parentName }}</a>
    </h2>

    <h1>{{ album.name }}</h1>
    <p>{{ album.comment }}</p>
</header>

<ul>
    <li ng-repeat="image in album.images" class="album-top">
        <a ng-href="#/image/{{ image.url }}">
            <img ng-src="/gallery/images/thumbnails/{{ image.filename }}" alt="{{ image.name }}">
        </a>
    </li>
</ul>

<ul class="child-list">
    <li ng-repeat="child in album.children">
        {{ child.name }}
        <a ng-href="#/album/{{ child.url }}">
            <img ng-src="/gallery/images/thumbnails/{{ child.filename }}" alt="{{ child.name }}" class="album-image">
        </a>
        {{ child.comment }}
    </li>
</ul>